@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1f1f1f;
    color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    max-width: 1000px;
    background-color: rgb(24, 24, 24);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    grid-column: 1 / -1;
    text-align: center;
}


/* Estilo das seções */
section {
    margin-bottom: 20px;
}

.about {
    grid-column: 1 / -1;
    text-align: center;
}

.content{
    display: flex;
    align-items: center;
}

/* Títulos de seções secundárias */
h2 {
    margin-bottom: 10px;
    text-align: left;
}

/* Estilo dos parágrafos */
.content p {
    margin: 0.6rem;
    line-height: 1.6;
    text-align: left;
}

/* Estilo da imagem */
img {
    max-width: 20%;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    grid-column: 2 / 3;
    justify-self: center;
    margin-bottom: 20px;
}

/* Estilo da lista de interesses */
ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}

li {
    background-color: #870fa5;
    color: white;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #bc8af8;
    font-weight: bold;
    margin-right: 10px;
}

a:hover {
    color: #ffeded;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 2em;
    }

    .about,
    .social,
    .interesses {
        text-align: center;
    }

    ul {
        flex-direction: column;
        align-items: center;
    }

    li {
        width: 80%;
    }

    img {
        max-width: 80%;
        margin: 0 auto;
    }
}
